* {
    padding: 0;
}

.center {
    text-align: center;
}

.page-title {
    font-size: 56px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.cooking-mama-img {
    margin-bottom: 36px;
}
.recipe-links {
    /* font-size: 30px; */
    font-family: "Times New Roman", Helvetica, sans-serif;
    text-decoration: none;
}

/* space out the recipe links on main page */
.recipe-links li {
    margin: 20px;
    /* remove the list bullets */
    font-size: 32px;
    list-style-type: none;
}

/* remove underline from recipe links on main page */
.recipe-links a:link { text-decoration: none; }
.recipe-links a:visited { text-decoration: none; }
.recipe-links a:hover { text-decoration: none; }
.recipe-links a:active { text-decoration: none; }

.description-title, .ingredient-title, .steps-title {
    font-size: 36px;
}

/* make recipe images the same size*/
.pizza-img, .sushi-img, .lasagna-img {
    height: auto;
    width: 600px;
}

/* remove bullets from the list items under "Steps" heading */
.steps-list {
    list-style-type: none;
}

/* make text under Description, Ingredients, and Steps larger */
p, li {
    font-size: 24px;
}

.main {
    background-color: rgb(187, 65, 171);
}

.sushi {
    background-color: rgb(209, 125, 46);
}

.lasagna {
    background-color: rgb(204, 45, 45);
}

.pizza {
    background-color: rgb(184, 61, 12);
}